*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
nav{
    background-color: #fff;
    border-bottom: 1px solid rgb(197, 197, 197);
    width: 100%;
    position: fixed;
    top: 0;
}
.container{
    width: 80%;
    margin: auto;
}
nav .container{
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container .search{
    border: 1px solid rgb(197, 197, 197);
    background-color: #fafafa;
    padding: 5px;
    border-radius: 5px;
}
nav .container .search i{
    color: #CBCCCE;
}
nav .container .search input{
    border: none;
    outline: none;
    background-color: transparent;
}



nav .container .icons{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
nav .container .icons .pro{
        width: 30px;
        height: 30px;

}
nav .container .icons .pro img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}

/* hero */
.hero .container{
    display: flex;
    margin-top: 80px;
}
.hero .container .feeds{
    width: 70%;
    min-height: 100vh;
}

.hero .container .feeds .stories {
    border:  1px solid rgb(197, 197, 197);
    padding: 15px;
    display: flex;
    overflow: scroll;
    background-color: #fff;
    border-radius: 5px;
    
}
.hero .container .feeds .stories::-webkit-scrollbar {
    display: none;
  }
.hero .container .feeds .stories .story {
    margin-right: 20px;
    text-align: center;
    
}
.hero .container .feeds .stories .story .img {
    width: 70px;
    height: 70px;
}
.hero .container .feeds .stories .story .img img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    padding: 2px;
    border: 2px solid #C72E90;

}
.hero .container .feeds .feed{
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
}
.hero .container .feeds .feed .header{
    padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.hero .container .feeds .feed .header .details{
    display: flex;
    align-items: center;
}
.hero .container .feeds .feed .header .details .img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.hero .container .feeds .feed .header .details span{
    font-weight: bold;
}

.hero .container .feeds .feed .header .details .img img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}


.hero .container .feeds .feed .post{ 
    width: 100%;
    height: auto;
}
.hero .container .feeds .feed .post img{ 
    width: 100%;
    height: auto;
}

.hero .container .feeds .feed .lcs{
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .container .feeds .feed .lcs .lcs-icon svg{
   margin-right: 15px;
}
.hero .container .feeds .feed .likes span{
    font-weight: bold;
    padding: 10px;
}
.hero .container .feeds .feed .discription  {
    padding: 10px;
}

.hero .container .feeds .feed .discription p span {
    font-weight: bold;
    color: #000;
   
}
.hero .container .feeds .feed .discription span  {
    color: #666;
    margin-top: 20px;
}
.hero .container .feeds .feed .comment{
    display: flex;
    justify-content: space-between;
    padding: 10px;   
    border-top: 1px solid rgb(197, 197, 197);
    align-items: center;
}
 
 .hero .container .feeds .feed .comment .com{
    display: flex;
    align-items: center;
 }
 .hero .container .feeds .feed .comment .com input{
    outline: none;
    border: none;
 }
 .hero .container .feeds .feed .comment .com svg{
    margin-right: 20px;
 }
 .hero .container .feeds .feed .comment span{
     font-weight: bold;
     color: #B4E0FC;
     margin-right: 20px;
 }




.hero .container .suggestions{
    width: 30%;
    min-height: 100vh;
   
    
}
.hero .container .suggestions .profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.sticky{
    position: sticky;
    top:80px;
}


.hero .container .suggestions .profile .img{
    width: 60px;
    height: 60px;
    
}
.hero .container .suggestions .profile .details{
    width: 150px;
}
.hero .container .suggestions .profile .details p{
  font-weight: bold;
}
.hero .container .suggestions .profile .details span{
    color: #666;
    font-weight: lighter;
}
.hero .container .suggestions .profile .btn{
    color: #0E9BF6;
}
.hero .container .suggestions .profile .btn a{
    text-decoration: none;
    color: #0E9BF6;
    font-weight: bold;
}
.hero .container .suggestions .profile .img img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 2px;
    border: 1px solid #666;
}
.hero .container .suggestions .sug {
   padding: 20px;
}
.hero .container .suggestions .sug .head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 
}
.hero .container .suggestions .sug .head p{
    font-weight: bold;
    color: #666;
    font-size: 16px;
}
.hero .container .suggestions .sug .profile  {
padding: 0px;

}
.hero .container .suggestions .sug .profile img {
    width: 50px;
    height: 50px;
    margin: 0px;

}
.hero .container .suggestions .sug .profile .details p {
    font-size: 14px;
}
.hero .container .suggestions .sug .profile .details span {
    font-size: 12px;
}
@media only Screen and (max-width:1024px){
    .container{
        width: 95%;
    }
    .hero .container .feeds{
        width: 60%;
    }
    .hero .container .suggestions{
      width: 40%;
         
     }

    
}

@media only Screen and (max-width:768px){
   
    .hero .container .suggestions{
       display: none;
        
    }
    .hero .container .feeds{
        width: 100%;
        min-height: 100vh;
    }

}
@media only Screen and (max-width:570px){
   
    nav .container .search{
       display: none;
    }

}